<section>
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8 col text-center mb-4">
                        <h6 class="text-primary font-weight-normal text-uppercase mb-3">Our Projects</h6>
                        <h1 class="mb-4">Some Of Our Awesome Interior Designing Projects</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center mb-2">
                        <ul class="list-inline mb-4" id="portfolio-flters">
                            <!-- ver como não repetir o category -->
                            <li class="btn btn-outline-primary m-1 active"  data-filter="*">All</li>
                            <li class="btn btn-outline-primary m-1" data-filter=".<%= postsPort[0].category%>"><%= postsPort[0].category%></li>
                            <li class="btn btn-outline-primary m-1" data-filter=".<%= postsPort[1].category%>"><%= postsPort[1].category%></li>
                            <li class="btn btn-outline-primary m-1" data-filter=".<%= postsPort[2].category%>"><%= postsPort[2].category%></li>
                        </ul>
                    </div>
                </div>
                <div class="row mx-1 portfolio-container">
                    <%for(let i = 0; i < postsPort.length; i++){%>
                        <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item <%= postsPort[i].category%>">
                            <div class="position-relative overflow-hidden">
                                <div class="portfolio-img d-flex align-items-center justify-content-center">
                                    <img class="img-fluid" src="<%= postsPort[i].image %>" alt="">
                                </div>
                                <div class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                                    <h4 class="text-white mb-4"><%= postsPort[i].projectName %></h4>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <a class="btn btn-outline-primary m-1" href="">
                                            <i class="fa fa-link"></i>
                                        </a>
                                        <a class="btn btn-outline-primary m-1" href="<%= postsPort[i].image %>" data-lightbox="portfolio">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%}%>
                </div>
            </div>
        </div>
    </section>