<section>
        <div class="container-fluid bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="py-5 px-4 h-100 bg-primary d-flex flex-column align-items-center justify-content-center">
                            <h6 class="text-white font-weight-normal text-uppercase mb-3">Our Team</h6>
                            <h1 class="mb-0 text-center">Meet Our Team Members</h1>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6 p-0 py-sm-5">
                        <div class="owl-carousel team-carousel position-relative p-0 py-sm-5">
                            <%for(let i = 0; i < postsTeam.length; i++){%>
                                <div class="team card d-flex flex-column text-center mx-3">
                                    <div class="position-relative">
                                        <div class="team-img">
                                            <img class="img-fluid w-100 h-100" src="<%= postsTeam[i].image %>" alt="">
                                        </div>
                                        <div class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                                            <a class="btn btn-outline-primary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="<%= postsTeam[i].link1 %>"><i class="fab fa-<%= postsTeam[i].icon1 %>"></i></a>
                                            <a class="btn btn-outline-primary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="<%= postsTeam[i].link2 %>"><i class="fab fa-<%= postsTeam[i].icon2 %>"></i></a>
                                            <a class="btn btn-outline-primary text-center px-0" style="width: 38px; height: 38px;" href="<%= postsTeam[i].link3 %>"><i class="fab fa-<%= postsTeam[i].icon3 %>"></i></a>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column bg-secondary text-center py-3">
                                        <h5 class="text-white"><%= postsTeam[i].name %></h5>
                                        <p class="m-0"><%= postsTeam[i].office %></p>
                                    </div>
                                </div>
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>